.body_background 
{
    background-image:url(background.jpg);
    background-position:center;
    background-size:cover;
}
.login_div
{
	background: yellow;
	padding: 10px;
	float: none;
	border-radius: 15px;
}
#player1name , #player2name
{
	display: inline-block;
	width: 500px;
}
h1 
{
	background-color: aqua;
	width: 120px;
	border-radius: 10px;
}
